# Python specifieke bestanden
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook bestanden
.ipynb_checkpoints

# Virtuele omgeving
venv/
ENV/
env/

# Configuratie bestanden
.env
.venv
env/

# OS-specifieke bestanden
.DS_Store
Thumbs.db

# IDE bestanden
.idea/
.vscode/
*.swp
*.swo
